:root {
    --blue: #537fbe;
    --red: #ea433b;
    --yellow: #f5b82e;
    --green; #2e944b;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: var(--blue);
}
nav .navbar-brand .red
{
    color: var(--red);
}
nav .navbar-brand .yellow
{
    color: var(--yellow);
}
nav .navbar-brand .green
{
    color: var(--green);
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
