:root {
    --monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.text-mono {
    font-family: var(--monospace);
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
