:root {
    --footer-height: 4rem;
    --monospaced: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --off-white: #e9ecef;
}

.text-mono {
    font-family: var(--monospaced);
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    margin-bottom: var(--footer-height);
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    max-height: 32px;
}

.footer {
    background: var(--off-white);
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    position: absolute;
    width: 100%;
}

.footer small a {
    color: orange;
}

.footer .list-inline-item:not(:first-of-type)::before {
    content: "·";
    height: 100%;
}